<launch>
    <arg name="no_static_map" default="true"/>

    <arg name="local_planner" default="eband" doc="Local planner can be either dwa, base, teb or pose"/>

    <arg name="base_global_planner" default="navfn/NavfnROS"/>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">

        <param name="base_global_planner" value="$(arg base_global_planner)"/>
        <rosparam file="$(find robot_launch)/config/navigation/move_base_common_params.yaml" command="load" />
        <rosparam file="$(find robot_launch)/config/navigation/navfn_global_params.yaml" command="load"/>

        <!-- observation sources located in costmap_common.yaml -->
        <rosparam file="$(find robot_launch)/cfg/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find robot_launch)/cfg/costmap_common_params.yaml" command="load" ns="local_costmap" />

        <rosparam file="$(find robot_launch)/config/navigation/$(arg local_planner)_local_planner_params.yaml" command="load" />

        <!-- global costmap params -->
        <rosparam file="$(find robot_launch)/config/navigation/costmap_common_params.yaml" command="load" ns="global_costmap" subst_value="true" />
        <rosparam file="$(find robot_launch)/config/navigation/costmap_global_params.yaml" command="load" />
        <rosparam file="$(find robot_launch)/config/navigation/costmap_global_params_plugins.yaml" command="load"/>

        <!-- local costmap params -->
        <rosparam file="$(find robot_launch)/config/navigation/costmap_common_params.yaml" command="load" ns="local_costmap" subst_value="true" />
        <rosparam file="$(find robot_launch)/config/navigation/costmap_local_params.yaml" command="load" subst_value="true" />
        <rosparam file="$(find robot_launch)/config/navigation/costmap_local_params_plugins.yaml" command="load" />

        <remap from="map" to="/map" />
        <remap from="odom" to="/odometry/filtered" />
        <remap from="marker" to="move_base/DWALocalPlanner/markers" />
    </node>
</launch> 